body {
    margin: 0;
    background-color: #123;
  }
  
  
  header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #123;
    color: white;
    min-height: 20%;
    padding: 0px;
  }
  

  .header {
    overflow: hidden;
    background-color: #0b1622;
    padding: 10px 20px;
  }
  
  
  .header img {
    width: 50px;
  }
  
  
  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  
  
  input[type=”text” i]{
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #123;
    border-color: white;
    margin-right: 20px;
    border: 0;
  }
  
  
  .header-right {
    float: right;
    display: flex;
    align-items: center;
  }
  

  @media screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
  
  
    .header-right {
      float: none;
    }
  }
  

